body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,120,93,1) 40%, rgba(0,212,255,1) 100%);
}


.accordion{
  width: 30%;
  margin: auto;
  margin-bottom: 2.5rem;
}
.accordion-button{
  border: 2px solid #F0E68C;
  background-color: #4FD3C4;
  /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(18,120,93,1) 40%, rgba(0,212,255,1) 100%);*/
}
.accordion-item{
  background-color: #6EDCD9;
}
#header-title {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 3rem;
  margin:  5%;
  color:#F0E68C;
  text-align: center;
}
 .container {
  display: flex;
  max-width: 100%;

  margin: auto;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}
.row2{
  width: 100%;
  justify-content: flex-start;
}
.btn {
  margin: 16px;
  display: inline-block;
  height: 15vw;
  width: 15vw;
  border: 6px solid black;
  border-radius: 10%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-top-right-radius: 80%;
}

.green {
  background-color: green;
  border-top-left-radius: 80%;
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 80%;
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 80%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
@media only screen and (max-width:950px){
  .btn{
    margin:4px;
    height: 30vw;
    width: 30vw;
    border: 4px solid black;
  }
  #header-title{
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  .accordion{
    width: 70%;
    margin-bottom: 2.5rem;
  }
}
